<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="insira uma tarefa">
        <button id="addButton" type="submit">adicionar</button>
    </form>
    <ul>
        <% tasksList.forEach((task) => { %>
        <li><%= task.task %> | <%= task.date.toLocaleString('pt-br') %></li>
        <% }) %>
    </ul>
</body>
</html>